scipy<1.13.0
cellmaps_utils==0.5.0
cellmaps_imagedownloader==0.2.0
cellmaps_ppidownloader==0.2.0
cellmaps_image_embedding==0.3.0
cellmaps_ppi_embedding==0.4.0
cellmaps_coembedding==0.4.0
cellmaps_generate_hierarchy==0.2.2
cellmaps_hierarchyeval==0.2.0
networkx>=2.8,<2.9
tqdm
